


			<!-- HOME -->
			<section id="home">
						
				<div class="container text-center">

					<div class="row text-left">

						<div class="col-sm-8">
							<%# <img src="assets/images/com_building.jpg" style = "width: 100%; object-fit: cover;"alt="product image" /> %>
                            <%= image_tag "com_building.jpg", width: 500, fit: "cover", alt: "product image" %>
						</div>

						<div class="col-sm-4">
							<h3 class="fw-300">Commercial <span>Solutions</span></h3>
						
							<p>No matter how tall or how short your company building is, we have designs for any need.</p>
							
							<div class="container">

								<div class="text-center">
									<h2 class="fs-40 fw-300"> Get a quote now.</h2>
									<%# <a class="btn btn-primary btn-lg" href="index-quote.html">REQUEST A QUOTE ></a>  %>
                                                        <%= link_to 'REQUEST A QUOTE', quoteform_path, class:"btn btn-primary btn-lg" %>

								</div>
			
							</div>
						
						</div>
					</div>

				</div>

			</section>
			