<!-- Radio Button choices -->
		
		<div class = "container-fluid">
			<div class="heading-title text-center">
			</br></br></br></br>
				<h2>Please tell us what type of building you have and some contact information:</h2>
			</div>
			<form action="/quote" method="post" class="text-center">
				<fieldset>
					<div class = "row">
						<div class = "col-md-4">
							<label for ="full_name" class = "text-left">Full Name </label>
							<input required type = "text" value = "" class = "form-control" name = "full_name" id = "full_name">

						</div>

						<div class = "col-md-4">
							<label for ="email" class = "text-left">Email </label>
							<input required type ="text" value = "" class = "form-control" name = "email" id = "email">

						</div>
						<div class="col-md-4">
							<label for="phone_number" class = "text-left">Phone Number</label>
							<input required type="text" value="" class="form-control" name="phone_number" id= "phone_number">
					</div>		
				</fieldset>
					<div id = "radio-buttons" class ="row " name="building_type">
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name ="building_type" id ="residential-radio" value="residential">
								<label class = "form-check-label text-left" for ="residential-radio" >
									Residential
								</label>

							</div>
						</div>
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name="building_type" id ="commercial-radio" value="commercial">
								<label class = "form-check-label text-left" for ="commercial-radio" >
									Commercial
								</label>

							</div>
						</div>
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name="building_type" id ="corporate-radio" value="corporate">
								<label class = "form-check-label text-left" for ="corporate-radio" >
									Corporate
								</label>

							</div>
						</div>
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name="building_type" id ="hybrid-radio" value="hybrid">
								<label class = "form-check-label text-left" for ="hybrid-radio" >
									Hybrid
								</label>

							</div>
						</div>
					</div>
				
			
		</div>
			<!-- /Radio Button choices -->

			<!--Getting inputs from the user-->
		<div id = "inputs" class = "container">
			<form >
				<!--residential inputs begin-->
				<div id = "apartment-box" class = "mb-50">
					<label for = "apartments" class = "form-label">Number of apartments in the building</label>
					<input type = "number" class = "form-control" id = "apartments" aria-describedby="apartment-help" min = "0" name ="number_of_apartments">
					<div id = "apartment-help" class = "form-text">Please enter the number of apartments in the building</div>
				</div>
				<div id = "floors-box" class = "mb-50">
					<label for = "floors" class = "form-label">Number of floor in the building, not including basements.</label>
					<input type = "number" class = "form-control" id = "floors" name="number_of_floors" aria-describedby="apartment-help" min = "1">
					<div id = "apartment-help" class = "form-text">Please enter the number of floors, no basements</div>
				</div>
				<div id = "basements-box" class = "mb-50">
					<label for = "basements" class = "form-label">Number of basements in the building</label>
					<input type = "number" class = "form-control" id = "basements" aria-describedby="apartment-help" min = "0" name="number_of_basements">
					<div id = "apartment-help" class = "form-text">Please enter the number of basements in the building</div>
				</div>
				<!--residential inputs end-->
				<!--commercial specific inputs begin-->
				<div id = "parking-box" class = "mb-50">
					<label for = "parking" class = "form-label">Number of parking space available</label>
				<input type = "number" class = "form-control" id = "parking" aria-describedby="apartment-help" min = "0" name="number_of_parking_spots" >
					<div id = "apartment-help" class = "form-text">Please enter the number of parking spaces for the building</div>
				</div>
				<div id = "business-box" class = "mb-50">
					<label for = "business" class = "form-label">Number of distinct businesses</label>
					<input type = "number" class = "form-control" id = "business" aria-describedby="apartment-help" min ="0" name="number_of_companies">
					<div id = "apartment-help" class = "form-text">Please enter the number of distinct businesses in the building</div>
				</div>
				<div id = "c-cages-box" class = "mb-50">
					<label for = "commercial-cages" class = "form-label">Number of elevator cages to be deployed</label>
					<input type = "number" class = "form-control" id = "commercial-cages" aria-describedby="apartment-help" min = "0" name="number_of_elevators">
					<div id = "apartment-help" class = "form-text">Please enter the number of elevator cages to be deployed</div>
				</div>
				<!--commercial specific inputs end-->
				<!--corporate specific input begin-->
				<div id = "tenant-box" class = "mb-50">
					<label for = "tenant" class = "form-label">Number of separate tenant companies in the building</label>
					<input type = "number" class = "form-control" id = "tenant" aria-describedby="apartment-help" min = "0" name="number_of_corporations">
					<div id = "apartment-help" class = "form-text">Please enter the number of separate tenant companies in the building</div>
				</div>
				<!--corporate specific input end-->
				<div id = "occupant-box" class = "mb-50">
					<label for = "occupant" class = "form-label">Maxiumum number of occupants per floor</label>
					<input type = "number" class = "form-control" id = "occupant" aria-describedby="apartment-help" min = "0" name="max_occupancy">
					<div id = "apartment-help" class = "form-text">Please enter the maximum number of occupants per floor</div>
				</div>
				<div id = "activity-box" class = "mb-50">
					<label for = "activity" class = "form-label">Number of hours of activity of the building per day</label>
					<input type = "number" class = "form-control" id = "activity" aria-describedby="apartment-help" min = "0" max = "24" name="business_hours">
					<div id = "apartment-help" class = "form-text">Please enter the maximum number of hours the bulding is active</div>
				</div>
			
		</div>
	<!--OUTPUT-->
		<div id = "output" class = "container">
			<!--output -->
			<!--Pricing Radio Buttons-->
			<div class = "container-fluid">
				<div class="heading-title text-center">
					<h2>What type of service did you need?</h2>
				</div>
				
					
						<div id = "pricing-buttons" class ="row " name ="quality">
							<div class = "col-md-3 align-center">
								<div class ="form-check">
									<input class = "form-check-input" type ="radio" name="quality" id ="standard-radio" value="standard" checked>
									<label class = "form-check-label " for ="standard-radio" >
										Standard
									</label>
	
								</div>
							</div>
							<div class = "col-md-3 align-center">
								<div class ="form-check">
									<input class = "form-check-input" type="radio" name="quality" id ="premium-radio" value="premium">
									<label class = "form-check-label" for ="premium-radio" >
										Premium
									</label>
	
								</div>
							</div>
							<div class = "col-md-3 align-center">
								<div class ="form-check">
									<input class = "form-check-input" type ="radio" name="quality" id ="excelium-radio" value="excelium">
									<label class = "form-check-label" for ="excelium-radio" >
										Excelium
									</label>
	
								</div>
							</div>
							
						</div>
	
				
			</div>
			<!-- Pricing Radio Buttons -->
					<div id="output-elevator-container" class="mb-3">
            		<label for="output-elevators" class="form-label">Elevators needed </label>
            		<input type="text" class="form-control" id="output-elevators" name="elevator_amount" placeholder="0" readonly>
        			
				
					<div id="output-pricePerElevator-container" class="mb-3">
            		<label for="price-per-elevator" class="form-label">Price per Elevator </label>
            		<input type="text" class="form-control" id="price-per-elevator" name="elevator_unit_price" placeholder="0" readonly>
        			</div>
				
					
					<div id="output-totalPrice-container" class="mb-3">
            		<label for="output-total-price" class="form-label">Total price of Elevators</label>
            		<input type="text" class="form-control" id="output-total-price" name="elevator_total_price" placeholder="0" readonly>
        			</div>
				
					
					<div id="output-fees-container" class="mb-3">
            		<label for="output-installation" class="form-label">Installation Fees </label>
            		<input type="text" class="form-control" id="output-installation" name="installation_fees" placeholder="0" readonly>
        			</div>
				
				
					<div id="output-finalPrice-container" class="mb-3">
            		<label for="output-final-price" class="form-label">Final Pricing </label>
            		<input type="text" class="form-control" id="output-final-price" name="final_price" placeholder="0" readonly>
        			</div>
				<br/>
				<div>
                <br/>
                <input type="submit" value="CLICK HERE TO SUBMIT" class="form-control">
                <br/>
                </div>
                <br/>
                <br/>
			</form>
			<!---->
		</div>

